*{
    padding: 0px;
    margin : 0px;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background: linear-gradient(to bottom right, green 20%, black 20% 80%, green 80%);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

a.link_no_style{
    text-decoration: none;
}

p.nav_bar_cr{
    color:rgb(0, 245, 0);
    align-self:flex-start;
}

p.bio_text{
    margin-bottom: 5%;
}
/*Lists*/
ul.skills_list{
    display: flex;
    flex-direction: row;
}
ul.no_bullets{
    list-style-type: none;
}
ul.nav_bar_buttons{
    color:rgb(0, 245, 0);
    height:100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    width:100%;
}

/*List Items*/
li.nav_buttons:hover{
    background-color: rgb(0, 245, 0);
}
li.nav_buttons:hover span.nav_bar_name{
    color:black;
}
span.nav_bar_name{
    color:rgb(0, 245, 0);
    font-size: 100%;
    margin: 2%;
}

li.nav_buttons:hover div.home{
    background-image: url('Assets/Images/home_icon_selected.png')
}

li.nav_buttons:hover div.projects{
    background-image: url('Assets/Images/projects_icon_selected.png')
}

li.nav_buttons:hover div.about{
    background-image: url('Assets/Images/about_icon_selected.png')
}

li.nav_buttons:hover div.contacts{
    background-image: url('Assets/Images/contacts_icon_selected.png')
}
li.nav_buttons{
    background-color: rgba(5, 141, 5, 0);
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 10%;
    padding: 2%;
    width: auto;
}
li.skills{
    background-color: rgb(0,345,0);
    border-radius: 40px;
    width: 120px;
    height: 40px;
    color:black;
    text-align: center;
    justify-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Divs*/
div.bio{
    color: rgb(0, 245, 0);
    font-size: 1rem;
    text-wrap:wrap ;
    width: 30%;
    margin-left: 3rem;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}
div.projects{
    background-image: url("Assets/Images/projects_icon.png");

}
div.contacts{
    background-image: url("Assets/Images/contacts_icon.png");

}
div.about{
    background-image: url("Assets/Images/about_icon.png");

}
div.home{
    background-image: url("Assets/Images/home_icon.png");

}
div.icon{
    background-size: cover;
    width:50px;
    height:50px;
    margin: 1%;
}
div.float_left{
    float: left;
}
div.nav_bar{
    height: 100%;
    width:100%;
    background-color: black;
    display:none;
    border-right: 2px solid rgb(0, 245, 0);
}
div.nav_bar_container{
    width:fit-content;
    min-width: 20vw;
    height: 100vh;
    position: fixed;
}
div.nav_bar_container:hover div.nav_bar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
div.vertical_rounded{
    width: 30%;
    height:50%;
    max-height: 200px;
    border-radius: 30%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("Assets/Images/Me_1.jpg");
}
div.main_page_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*Images*/
img.rounded_photo{
    border-radius: 50px;
}
img.medium_photo{
    height: 240px;
    width: 400px;
}
img.icon{
    height: 30px;
    width: 30px;
}


