html {
    font-size: 22px;
}

body {
    background-color: #333;
    color: whitesmoke;
}
div.float_left{
    float: left;
}
ul.no_bullets{
    list-style-type: none;
}
img.rounded_photo{
    border-radius: 50px;
}
img.medium_photo{
    height: 240px;
    width: 400px;
}
img.icon{
    height: 30px;
    width: 30px;
}