@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tiny5&display=swap");

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation{
    0% { 
        --gradient-angle: 0deg;
    }
    100% {
        --gradient-angle: 360deg;
    }
}

:root{
    --MAINCOLOR1: rgb(0, 245, 0);
    --MAINCOLOR2: rgb(177, 219, 179);
}

*{
    padding: 0px;
    margin : 0px;
}
main{
    height:100%;
    min-height:100vh;
}
main.main_page{
    display: flex;
    justify-content: center;
    align-items: center;
}
header.main_page_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background: linear-gradient(160deg, green 20%, black 20% 80%, green 80%);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
}

article.about_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
}
h2.project_title{
    font-family: Kanit, sans-serif;
    background-color: rgba(19, 201, 46, 0.499);
    border-radius: 20px;
    width:fit-content;
    margin:2rem;
}
span.bio_name{
    font-size: 2rem;
    font-weight: bold; 
    font-family: Kanit, sans-serif;
}

/*Links*/
a.link_no_style{
    text-decoration: none;

}
a.inline_link_about{
    color:black;
    text-decoration: underline;
}
a.inline_link_about:visited{
    color:black;
}

/*Paragraphs*/
p.indent{
    margin-bottom:10px;
    text-indent: 2rem;
}
p.nav_bar_cr{
    color: var(--MAINCOLOR1);
    align-self:flex-start;
}

/*Lists*/
ul.skills_list{
    display: flex;
    flex-direction: row;
}
ul.no_bullets{
    list-style-type: none;
}
ul.nav_bar_buttons{
    color:var(--MAINCOLOR1);
    height:100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    width:100%;
}
ul.contacts_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*List Items*/

li.nav_buttons:hover{
    background-color: var(--MAINCOLOR1);
}
li.nav_buttons:hover span.nav_bar_name{
    color:black;
}
span.nav_bar_name{
    color:var(--MAINCOLOR1);
    font-size: 100%;
    margin: 2%;
}

li.nav_buttons:hover div.home{
    background-image: url('Assets/Images/home_icon_selected.png')
}

li.nav_buttons:hover div.projects{
    background-image: url('Assets/Images/projects_icon_selected.png')
}

li.nav_buttons:hover div.about{
    background-image: url('Assets/Images/about_icon_selected.png')
}

li.nav_buttons:hover div.contacts{
    background-image: url('Assets/Images/contacts_icon_selected.png')
}
li.nav_buttons{
    background-color: rgba(5, 141, 5, 0);
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 10%;
    padding: 2%;
    width: auto;
}
li.current_nav{
    background-color: rgba(0, 245, 0, 0.462);
}
li.skills{
    background-color: rgb(9, 79, 9);
    border-radius: 40px;
    width: 120px;
    height: 40px;
    color:rgb(237, 226, 201);
    text-align: center;
    justify-items: center;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: Kanit, sans-serif;
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
li.skills:hover{
    background-color: var(--MAINCOLOR1);
    color:black;
}

/*Divs*/
div.project_content{
    font-family: Kanit, sans-serif;
    background-color: rgba(19, 201, 46, 0.499);
    border-radius: 20px;
    width:fit-content;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 70vw;
}
div.contacts_page_aligment{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}
div.rectangle_rounded{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    position: relative;
    background-image: url("Assets/Images/Me_1.jpg");
    background-position: center;
    background-size: cover;
    grid-column: 1 / 2;
    grid-row : 1 / 2;
    justify-self: end;
    margin-right:20%;
}

div.rectangle_rounded::before, div.rectangle_rounded::after{
    content: "";
    position: absolute;
    inset: -0.5rem;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--MAINCOLOR1),
        rgb(12, 167, 12),
        rgba(3, 60, 3, 0.728),
        rgb(7, 101, 7),
        var(--MAINCOLOR1)
    );
    border-radius: inherit;
    animation: rotation 10s linear infinite;
}
div.rectangle_rounded::after{
    filter: blur(1rem);
}
div.bottom_page_arrow{
    background-color: var(--MAINCOLOR2);
    position: relative;
    border-radius: 20px;
    width: 20%;
    height: 3%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}

div.bottom_page_arrow:hover{
    box-shadow: 
    inset 0 -3em 3em var(--MAINCOLOR1),
    0 0 0 2px white,
    0.3em 0.3em 1em var(--MAINCOLOR2);
}
div.nav_bar_extender{
    width: 2vw;
    height: 4vw;
    background-color: black;
    border-top: 2px solid var(--MAINCOLOR1);
    border-bottom: 2px solid var(--MAINCOLOR1);
    border-right: 2px solid var(--MAINCOLOR1);

    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top: 46vh;
    align-self: end;
    left: 20vw;
    transition: transform .5s .1s;
    z-index: 1;
}
div.nav_bar_extender_hamburger{
    position: relative;
    width: .3vw;
    height: 2.5vw;
    background-color: var(--MAINCOLOR2);
    border-radius: 20px;
    z-index: 2;
}
div.nav_bar_extender_hamburger::after,div.nav_bar_extender_hamburger::before{
    position: absolute;
    content: "";
    width: .3vw;
    height: 2.5vw;
    border-radius: 20px;
    background-color: var(--MAINCOLOR2);
}
div.nav_bar_extender_hamburger::after{
    left: .5vw;
}
div.nav_bar_extender_hamburger::before{
    right: .5vw;
}
div.about_page_content{
    background-color: rgba(240, 248, 255, 0.528);
    width: 25vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
div.bio{
    color: var(--MAINCOLOR1);
    font-size: 100%;
    font-weight: bold;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}
div.projects{
    background-image: url("Assets/Images/projects_icon.png");

}
div.contacts{
    background-image: url("Assets/Images/contacts_icon.png");

}
div.about{
    background-image: url("Assets/Images/about_icon.png");

}
div.home{
    background-image: url("Assets/Images/home_icon.png");

}
div.icon{
    background-size: cover;
    width:50px;
    height:50px;
    margin: 1%;
}
div.nav_bar{
    height: 100%;
    width:100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px solid var(--MAINCOLOR1);
    transform: translateX(-20vw);
    transition: transform .5s;
}
div.nav_bar_container{
    width:fit-content;
    min-width: 20vw;
    top:0;
    height: 100%;
    position: fixed;
    z-index: 1;
}
div.main_page_div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    justify-content: end;
    align-items: end;
    width: 80vw;
    height: 80vh;
}

/*Images*/
img.rounded{
    border-radius: 20px;
    width: 50%;
}
img.icon{
    height: 30px;
    width: 30px;
}
img.contacts_icons{
    width: 2vw;
    height: auto;
}
/*Small Screen*/
@media only screen and (200px <= width <= 576px){
    html {
        background: linear-gradient(160deg, red 20%, black 20% 80%, green 80%);
    }
    main.main_page{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    div.main_page_div{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 90vh;
    }
    div.rectangle_rounded{
        width: 50vw;
        height: 50vw;
    }
    div.bio{
        color: var(--MAINCOLOR1);
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin-top: 2rem;
    }
    span.bio_name{
        font-size: 2rem; 
        font-weight: bold; 
        font-family: Kanit, sans-serif;
    }
    div.bottom_page_arrow{
        background-color: var(--MAINCOLOR2);
        width: 10%;
        height: 1vh;
        border-radius: 20px;
        margin-top:auto;
    }
}

/*Medium Screen*/
@media only screen and (577px <= width <= 768px){
    html{
        background: linear-gradient(140deg, blue 20%, black 20% 80%, green 80%);
    }
    div.main_page_div{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 80vh;
        justify-items: center;
    }
    div.bottom_page_arrow{
        background-color: var(--MAINCOLOR2);
        width: 30%;
        height: 1vh;
        border-radius: 20px;
        z-index: 1;
        grid-column: 2;
        grid-row: 2;
        align-self: end;
    }
    div.rectangle_rounded{
        width: 20vw;
        height:20vw;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    span.bio_name{
        font-size: 2rem; 
        font-weight: bold; 
        font-family: Kanit, sans-serif;
    }
    div.bio{
        color: var(--MAINCOLOR1);
        font-size: 1rem;
        font-weight: bold;
        text-align:start;
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
}


